@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
* {
  font-family: "Open Sans";
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #550155;
  min-height: 100vh;
  color: beige;
}
main {
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  height: 40%;
  width: 100%;
  background-color: blue;
}
.info {
  position: absolute;
  top: 25%;
  left: 45%;

  height: 50%;
  width: 50%;
}
.t_content {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: brown;
  top: 50%;
  left: 35%;
}
