body {
  background-color: black;
  position: relative;
}

.im1 {
  height: 40vh;
  width: 50vh;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-column-align: center;
  grid-gap: 30px;
}
.card {
  justify-content: space-evenly;
  background-color: aliceblue;
  height: 60vh;
  width: 50vh;
}
