// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame

.frame {
	position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
}
.grid-container{
	display:grid;
	grid-gap:1px;
	grid-template-columns: repeat(20, 1fr);
	grid-template-rows: repeat(20, 1fr);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.box{
	background-color:#171717;
	margin:0;
	width:19px;
	height:19px;
}

.clicked{
  background: rgb(222, 71, 56);
  border: 1px solid rgb(226, 78, 63);
  width: 19px;
  height: 19px;
}

.clicked:hover{
  background-color: rgb(236, 81, 66);
}