@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
* {
  font-family: 'Open Sans';
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 100vh;
  color: beige;
}
main{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
    
    .grid-card{
      margin:0 auto;
      width:70vh;
      height:auto;
        display:grid;
        grid-gap:12px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
      
    }
  .box{
    background-color:#70108d;
	margin:0;
	width:15vh;
	height:15vh;
  border-radius: 25%;
}

  